/* 1.6 */
/* Form / Input / Textarea / Select
/* ========================================================================== */
.form-control {
  -webkit-appearance: none;
  /* ios */
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 45px;
  border-radius: 0;
  border: 1px solid #e9e9e9;
  color: #14181c;
}
.form-control:focus {
  -webkit-appearance: none;
  /* ios */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #14181c;
}
.has-icon .form-control {
  padding-right: 50px;
}
.dark .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.75);
}
.dark .form-control:focus {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark .bootstrap-select .dropdown-menu .form-control {
  background: rgba(20, 24, 28, 0.2);
  border: 1px solid rgba(20, 24, 28, 0);
  color: rgba(20, 24, 28, 0.75);
}
.dark .bootstrap-select .dropdown-menu .form-control:focus {
  background: rgba(20, 24, 28, 0.1);
  border: 1px solid rgba(20, 24, 28, 0.2);
}
.light .form-control {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  color: #a5abb7;
}
.light .form-control:focus {
  border: 1px solid #a5abb7;
}
.form-control.alt {
  border-color: #f5f6f8;
  background-color: #f5f6f8;
  color: #6d7582;
}
.form-control.alt::-webkit-input-placeholder {
  color: #6d7582 !important;
  font-weight: 400 !important;
  font-size: 14px;
  text-transform: none;
  line-height: 22px;
}
.form-control.alt:-moz-placeholder {
  color: #6d7582 !important;
  font-weight: 400 !important;
  font-size: 14px;
  text-transform: none;
  line-height: 22px;
}
.form-control.alt::-moz-placeholder {
  color: #6d7582 !important;
  font-weight: 400 !important;
  font-size: 14px;
  text-transform: none;
  line-height: 22px;
}
.form-control.alt:-ms-input-placeholder {
  color: #6d7582 !important;
  font-weight: 400 !important;
  font-size: 14px;
  text-transform: none;
  line-height: 22px;
}
.form-control.alt:focus {
  -webkit-appearance: none;
  /* ios */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #14181c;
}
.form-control-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.has-label .form-control-icon {
  top: 28px;
}
.dark .form-control-icon {
  color: rgba(255, 255, 255, 0.6);
}
.dark .alt .form-control-icon {
  color: #ffffff;
}
.light .form-control-icon {
  color: rgba(20, 24, 28, 0.6);
}
.form-group.has-icon {
  position: relative;
}
textarea {
  resize: none;
}
.bootstrap-select .dropdown-menu {
  border-radius: 0;
}
.bootstrap-select .dropdown-menu a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.bootstrap-select > .selectpicker {
  -webkit-appearance: none;
  /* ios */
  -webkit-box-shadow: none;
  box-shadow: none !important;
  height: 40px;
  border-radius: 0;
  background-color: transparent !important;
  color: #5c5c5c !important;
}
.bootstrap-select > .selectpicker:focus {
  border-color: #14181c;
}
.bootstrap-select-searchbox .form-control {
  border-radius: 0;
}
.has-icon .bootstrap-select.btn-group .btn .caret {
  display: none;
}
.alert {
  border-radius: 0;
}
label {
  font-size: 14px;
  color: #14181c;
}
.dark label {
  color: #ffffff;
}
.light label {
  color: #14181c;
}
input[type=checkbox] {
  margin-top: 2px;
  margin-right: 5px;
}
.form-login .row {
  margin-top: -20px;
}
.form-login .row + .row {
  margin-top: 0;
}
.form-login .row div[class*="col-"],
.form-login .row aside[class*="col-"] {
  margin-top: 20px;
}
.form-login .hello-text-wrap {
  line-height: 12px;
}
.form-login .btn-block {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .form-login .btn-block {
    max-width: 100%;
  }
}
.form-login .btn.facebook {
  background-color: #3e5c98;
  border-color: #3e5c98;
  color: #ffffff;
}
.form-login .btn.twitter {
  background-color: #22a9e0;
  border-color: #22a9e0;
  color: #ffffff;
}
.form-login .btn.facebook:hover,
.form-login .btn.twitter:hover {
  background-color: #14181c;
  border-color: #14181c;
}
.form-login .btn-theme {
  padding-top: 14px;
  padding-bottom: 14px;
}
.form-login .form-group {
  margin-bottom: 0;
}
.form-login .form-control {
  height: 50px;
}
.form-login .checkbox {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #14181c;
}
.form-login .checkbox label {
  font-weight: 700 !important;
}
.form-login .checkbox input[type=checkbox] {
  margin-top: 2px;
}
.form-login .col-md-12.col-lg-6.text-right-lg {
  line-height: 0;
}
@media (min-width: 1200px) {
  .form-login .col-md-12.col-lg-6.text-right-lg {
    margin-bottom: 2px;
  }
}
@media (max-width: 1199px) {
  .form-login .col-md-12.col-lg-6.text-right-lg {
    margin-top: 0;
  }
}
.form-login .forgot-password {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 18px;
}
.form-login .forgot-password:hover {
  border-bottom: solid 1px #14181c;
}
.form-login ::-webkit-input-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-login :-moz-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-login ::-moz-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-login :-ms-input-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.create-account {
  color: #14181c;
}
.create-account .list-check {
  font-weight: 700;
}
.create-account .row {
  margin-top: -20px;
}
.create-account .row + .row {
  margin-top: 0;
}
.create-account .row div[class*="col-"],
.create-account .row aside[class*="col-"] {
  margin-top: 20px;
}
.create-account .hello-text-wrap {
  line-height: 12px;
}
.create-account .btn-theme {
  padding-top: 14px;
  padding-bottom: 14px;
}
.create-account .btn-create {
  margin-top: 15px;
}
.page-section.subscribe {
  background-attachment: scroll !important;
}
.form-subscribe {
  position: relative;
}
.form-subscribe .form-control {
  border-color: #14181c;
}
.form-subscribe .btn-submit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 12px;
  padding: 18px 50px;
}
.page-section.find-car {
  overflow: visible;
  padding-top: 24px;
  padding-bottom: 24px;
}
.form-find-car .section-title {
  margin-top: 4px;
}
.form-find-car .form-group {
  margin: 0;
}
.form-find-car .form-control {
  height: 40px;
}
.form-find-car .has-icon .form-control {
  padding-right: 40px;
}
.form-find-car .form-control-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.form-find-car .btn-submit {
  margin-top: 28px;
  font-size: 12px;
  line-height: 12px;
  padding: 13px 20px;
}