
/* Shopping cart popup
/* ========================================================================== */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
}
.cart-wrapper {
  margin-left: 30px;
}
@media (max-width: 1199px) {
  .cart-wrapper {
    margin-left: 15px;
  }
}
@media (max-width: 480px) {
  .cart-wrapper {
    float: none !important;
    margin-left: 0;
  }
}
.cart-wrapper .btn {
  height: 40px;
}
.cart-total {
  cursor: pointer;
  font-weight: bold;
  line-height: 33px;
  text-transform: uppercase;
  color: #a5abb7;
}
@media (max-width: 639px) {
  .cart-total {
    font-size: 14px;
  }
}
.cart-total .total {
  float: left;
}
.cart-total .fa {
  float: left;
  display: block;
  font-size: 24px;
  line-height: 33px;
  margin-left: 2px;
  color: #14181c;
}
.cart-total .items {
  float: left;
  margin-left: 5px;
}
.cart-items {
  position: relative;
  margin: 0 0 0 auto;
  max-width: 450px;
}
@media (min-width: 768px) {
  .cart-items:before {
    content: '';
    position: absolute;
    top: -9px;
    right: 50px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e9e9e9;
  }
  .cart-items:after {
    content: '';
    position: absolute;
    top: -7px;
    right: 50px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
  }
}
.cart-items .cart-items-inner {
  background-color: #ffffff;
  border: solid 3px #e9e9e9;
}
.cart-items .media {
  padding: 15px;
  overflow: hidden;
}
.cart-items .media + .media {
  border-top: solid 1px #e9e9e9;
  margin-top: 0;
}
.cart-items .item-image {
  width: 50px;
}
.cart-items .item-title {
  margin-bottom: 0;
  font-size: 17px;
  text-transform: uppercase;
  color: #14181c;
  font-weight: 300;
}
.cart-items .item-title a {
  color: #14181c;
}
.cart-items .item-desc {
  margin-bottom: 0;
  font-size: 10px;
  text-transform: uppercase;
}
.cart-items .item-price {
  margin-bottom: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  color: #14181c;
}
.cart-items .btn-call-checkout {
  margin-left: 15px;
}
.popup-cart .modal-dialog {
  margin-top: 90px;
}
@media (min-width: 768px) {
  .popup-cart .modal-dialog {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .popup-cart .modal-dialog > .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.15s ease-out;
  -o-transition: -o-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* Shop info banners
/* ========================================================================== */
.product-list {
  max-width: 450px;
  margin: 0 auto;
}
.product-list .media {
  clear: both;
}
.product-list .media + .media {
  padding-top: 15px;
}
.product-list .media-heading {
  font-size: 18px;
  font-weight: 300;
  color: #14181c;
}
.product-list .media-heading a {
  color: #14181c;
}
.product-list .media-heading small {
  display: block;
  margin-top: 5px;
}
.product-list .media-body {
  min-height: 80px;
}
.product-list .price {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
}
.product-list .price del {
  font-weight: normal;
  font-size: 14px;
  color: #14181c;
}
.product-list .price ins {
  padding-right: 5px;
  text-decoration: none;
  color: $default-theme-color;
}
.product-list .rating {
  font-size: 14px;
}
.product-list .media-link {
  padding: 0;
  margin-right: 30px;
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.product-list .media-link .fa {
  position: absolute;
  bottom: 50%;
  left: 50%;
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-bottom: -15px;
  color: #ffffff;
  z-index: 11;
  opacity: 0;
}
.product-list .media-link:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(230, 0, 0, 0);
  z-index: 10;
}
.product-list .media-link:hover .fa {
  bottom: 50%;
  opacity: 1;
}
.product-list .media-link:hover:after {
  background-color: rgba(230, 0, 0, 0.7);
}
/* Shop info banners
/* ========================================================================== */
.shop-info-banners .block {
  max-width: 450px;
  margin: 0 auto;
  padding: 15px 17px;
  border: solid 4px #3c3c3c;
  background-color: transparent;
  color: #3c3c3c;
  font-weight: 500;
  line-height: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.shop-info-banners .block .fa {
  font-size: 60px;
  line-height: 60px;
  color: #3c3c3c;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.shop-info-banners .block .media-heading {
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  color: #3c3c3c;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.shop-info-banners .block:hover {
  color: #ffffff;
  background-color: #3c3c3c;
}
.shop-info-banners .block:hover .fa {
  color: #ffffff;
}
.shop-info-banners .block:hover .media-heading {
  color: #ffffff;
}
/* Shop sorting
/* ========================================================================== */
.shop-sorting {
  border-bottom: solid 1px rgba(20, 24, 28, 0.1);
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.shop-sorting .bootstrap-select > .selectpicker {
  height: 35px;
}
.shop-sorting .bootstrap-select .selectpicker > .filter-option {
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  text-transform: none;
}
.shop-sorting .col-sm-4 .btn-theme {
  height: 35px;
  width: 35px;
  line-height: 1;
  padding: 6px;
}
.shop-sorting .col-sm-4 .btn-theme:hover {
  background-color: $default-theme-color;
}
/* Shopping cart form, sign in ...
/* ========================================================================== */
.form-sign-in {
  margin-bottom: 30px;
}
.form-sign-in .row {
  margin-top: -15px;
}
.form-sign-in .row + .row {
  margin-top: 0;
}
.form-sign-in .row div[class*="col-"],
.form-sign-in .row aside[class*="col-"] {
  margin-top: 15px;
}
.form-sign-in .btn-block {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .form-sign-in .btn-block {
    max-width: 100%;
  }
}
.form-sign-in .btn.facebook {
  background-color: #3e5c98;
  border-color: #3e5c98;
}
.form-sign-in .btn.twitter {
  background-color: #22a9e0;
  border-color: #22a9e0;
}
.form-sign-in .btn.facebook:hover,
.form-sign-in .btn.twitter:hover {
  background-color: #14181c;
  border-color: #14181c;
}
.form-sign-in .form-group {
  margin-bottom: 0;
}
.form-sign-in .checkbox {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #14181c;
}
.form-sign-in .checkbox label {
  font-weight: 700 !important;
}
.form-sign-in .checkbox input[type=checkbox] {
  margin-top: 2px;
}
.form-sign-in .forgot-password,
.form-sign-in .bootstrap-select .selectpicker > .filter-option {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-sign-in .forgot-password:hover {
  border-bottom: solid 1px #14181c;
}
.form-sign-in ::-webkit-input-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-sign-in :-moz-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-sign-in ::-moz-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-sign-in :-ms-input-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.orders {
  margin-bottom: 30px;
}
.orders thead {
  background-color: #14181c;
  color: #ffffff;
}
.orders thead > tr > th {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 300;
  border: none;
}
.orders .table > thead > tr > th,
.orders .table > tbody > tr > th,
.orders .table > tfoot > tr > th,
.orders .table > thead > tr > td,
.orders .table > tbody > tr > td,
.orders .table > tfoot > tr > td {
  border-top: none;
  border-bottom: solid 1px #e9e9e9;
}
.orders td.image {
  padding-left: 0;
}
.orders td.quantity {
  font-size: 15px;
  font-weight: 700;
  color: #14181c;
  vertical-align: middle;
}
.orders td.description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #14181c;
  vertical-align: middle;
}
.orders td.description h4 {
  margin: 0;
  font-weight: 300;
}
.orders td.description h4 a {
  color: #14181c;
}
.orders td.description h4 a:hover {
  color: $default-theme-color;
}
.orders td.add {
  vertical-align: middle;
}
.orders td.total {
  font-size: 18px;
  font-weight: 900;
  color: #14181c;
  vertical-align: middle;
}
.orders td.total a {
  margin-left: 10px;
  float: right;
  color: #a5abb7;
}
.orders td.total a:hover {
  color: $default-theme-color;
}
.orders .media-link {
  padding: 0;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.orders .media-link .fa {
  position: absolute;
  bottom: 50%;
  left: 50%;
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-bottom: -15px;
  color: #ffffff;
  z-index: 11;
  opacity: 0;
}
.orders .media-link:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(230, 0, 0, 0);
  z-index: 10;
}
.orders .media-link:hover .fa {
  bottom: 50%;
  opacity: 1;
}
.orders .media-link:hover:after {
  background-color: rgba(230, 0, 0, 0.7);
}
.orders .shopping-cart {
  padding: 10px;
  border: solid 3px rgba(20, 24, 28, 0.1);
}
.orders .shopping-cart table {
  width: 100%;
}
.orders .shopping-cart table td {
  padding: 3px;
  width: 50%;
  font-size: 15px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 10px;
  color: #14181c;
}
.orders .shopping-cart table td + td {
  text-align: left;
  padding-right: 3px;
  padding-left: 10px;
}
.orders .shopping-cart table tfoot td {
  border-top: solid 1px #a5abb7;
  font-size: 18px;
  font-weight: 900;
  color: #14181c;
}
.wishlist thead {
  background-color: #14181c;
  color: #ffffff;
}
.wishlist thead > tr > th {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-size: 14px;
  font-weight: 300;
  border: none;
}
.wishlist .table {
  margin-bottom: 30px;
}
.wishlist .table > thead > tr > th,
.wishlist .table > tbody > tr > th,
.wishlist .table > tfoot > tr > th,
.wishlist .table > thead > tr > td,
.wishlist .table > tbody > tr > td,
.wishlist .table > tfoot > tr > td {
  border-top: none;
  border-bottom: solid 1px #a5abb7;
  padding-top: 20px;
  padding-bottom: 31px;
}
.wishlist td.image {
  padding-left: 0;
}
.wishlist td.price {
  font-size: 18px;
  font-weight: 400;
  color: #14181c;
  vertical-align: middle;
}
.wishlist td.description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #14181c;
  vertical-align: middle;
}
.wishlist td.description h4 {
  margin: 0;
  font-weight: 300;
}
.wishlist td.description h4 a {
  color: #14181c;
}
.wishlist td.description h4 a:hover {
  color: $default-theme-color;
}
.wishlist td.add {
  vertical-align: middle;
}
.wishlist td.add .btn-theme {
  font-size: 12px;
  line-height: 16px;
  padding: 9px 30px;
}
.wishlist td.add .btn-theme .fa {
  font-size: 16px;
  line-height: 16px;
}
.wishlist td.total {
  font-size: 18px;
  font-weight: 900;
  color: #14181c;
  vertical-align: middle;
}
.wishlist td.total a {
  margin-left: 10px;
  float: right;
  color: #14181c;
}
.wishlist td.total a:hover {
  color: $default-theme-color;
}
.wishlist td.total a .fa-close:before {
  font-family: 'Roboto', sans-serif;
  content: 'X';
}
.wishlist .media-link {
  padding: 0;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.wishlist .media-link .fa {
  position: absolute;
  bottom: 50%;
  left: 50%;
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-bottom: -15px;
  color: #ffffff;
  z-index: 11;
  opacity: 0;
}
.wishlist .media-link:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(230, 0, 0, 0);
  z-index: 10;
}
.wishlist .media-link:hover .fa {
  bottom: 50%;
  opacity: 1;
}
.wishlist .media-link:hover:after {
  background-color: rgba(230, 0, 0, 0.7);
}
.wishlist .btn-continue-shopping {
  font-size: 12px;
  line-height: 16px;
  padding: 7px 50px;
}
.wishlist .btn-continue-shopping .fa {
  font-size: 16px;
  line-height: 16px;
}
.wishlist .form-sign-in .row {
  margin-top: -20px;
}
.wishlist .form-sign-in .row + .row {
  margin-top: 0;
}
.wishlist .form-sign-in .row div[class*="col-"],
.wishlist .form-sign-in .row aside[class*="col-"] {
  margin-top: 20px;
}
.wishlist .form-sign-in .hello-text-wrap {
  margin-top: 8px !important;
}
.wishlist .form-sign-in .btn-theme {
  padding-top: 14px;
  padding-bottom: 14px;
}
.wishlist .form-sign-in .form-control {
  height: 50px;
}
.wishlist .form-sign-in .col-md-12.col-lg-6.text-right-lg {
  line-height: 0;
}
@media (max-width: 1199px) {
  .wishlist .form-sign-in .col-md-12.col-lg-6.text-right-lg {
    margin-top: 0;
  }
}
.wishlist .form-sign-in .forgot-password {
  line-height: 18px;
}
.form-delivery {
  margin-bottom: 30px;
}
.form-delivery .row {
  margin-top: -15px;
}
.form-delivery .row + .row {
  margin-top: 0;
}
.form-delivery .row div[class*="col-"],
.form-delivery .row aside[class*="col-"] {
  margin-top: 15px;
}
.form-delivery .form-group {
  margin-bottom: 0;
}
.form-delivery .checkbox {
  font-size: 11px;
  text-transform: uppercase;
  color: #14181c;
}
.form-delivery .checkbox label {
  font-weight: 700 !important;
}
.form-delivery .checkbox input[type=checkbox] {
  margin-top: 2px;
}
.form-delivery .bootstrap-select .selectpicker > .filter-option {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-delivery ::-webkit-input-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-delivery :-moz-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-delivery ::-moz-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.form-delivery :-ms-input-placeholder {
  color: #14181c !important;
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
}
.payments-options {
  margin-bottom: 30px;
}
.payments-options .radio {
  padding-left: 0;
}
.payments-options .panel {
  border: none;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: solid 1px #d3d3d3;
  background-color: transparent;
}
.payments-options .panel-heading {
  background: none;
  padding-left: 0;
  padding-right: 0;
}
.payments-options .panel-title {
  font-size: 14px;
  line-height: 22px;
  color: #14181c;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
.payments-options .panel-title .collapsed {
  font-weight: 400;
}
.payments-options .panel-title a {
  display: inline-block;
  color: #7f7f7f;
}
.payments-options .panel-title .overflowed {
  margin-top: -2px;
}
.payments-options .panel-title .overflowed img {
  margin-left: 5px;
}
.payments-options .panel-body {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}
.payments-options .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}
.payments-options .dot {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  border: solid 3px #d3d3d3;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}
.payments-options .dot:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px 0 0 3px;
  border-radius: 4px;
  background-color: $default-theme-color;
}
.payments-options .collapsed .dot:before {
  content: none;
}
.payments-options .alert {
  font-size: 13px;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  border-color: #08d884;
  background-color: #effbf7;
  color: #14181c;
}
.compare-products table {
  width: 100%;
  border: solid 3px #e9e9e9;
  color: #14181c;
}
.compare-products table td {
  position: relative;
  vertical-align: top;
  padding: 15px 20px;
}
.compare-products .table-bordered > thead > tr > th,
.compare-products .table-bordered > tbody > tr > th,
.compare-products .table-bordered > tfoot > tr > th,
.compare-products .table-bordered > thead > tr > td,
.compare-products .table-bordered > tbody > tr > td,
.compare-products .table-bordered > tfoot > tr > td {
  border: solid 1px #e9e9e9;
}
.compare-products .product .close {
  position: absolute;
  top: 15px;
  right: 20px;
}
.compare-products .product .media-link {
  float: left;
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.compare-products .product .media-link .fa {
  position: absolute;
  bottom: 50%;
  left: 50%;
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-bottom: -15px;
  color: #ffffff;
  z-index: 11;
  opacity: 0;
}
.compare-products .product .media-link:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(230, 0, 0, 0);
  z-index: 10;
}
.compare-products .product .media-link:hover .fa {
  bottom: 50%;
  opacity: 1;
}
.compare-products .product .media-link:hover:after {
  background-color: rgba(230, 0, 0, 0.7);
}
.compare-products .product h4,
.compare-products .product h4 a {
  font-weight: 300;
  color: #14181c;
}
.compare-products .product h4:hover,
.compare-products .product h4 a:hover {
  color: $default-theme-color;
}
.compare-products .rating {
  float: left;
}
.compare-products .reviews {
  color: #14181c;
}
.compare-products .reviews:hover {
  border-bottom: solid 1px #14181c;
}
.compare-products .price {
  font-size: 18px;
  font-weight: 900;
}
.compare-products .colors ul {
  overflow: hidden;
  margin-top: -7px;
  margin-bottom: 0;
}
.compare-products .colors ul li {
  float: left;
  margin: 7px 7px 0 0;
}
.compare-products .colors ul li a {
  display: block;
  width: 35px;
  height: 35px;
  border: solid 3px rgba(20, 24, 28, 0.1);
  padding: 3px;
}
.compare-products .colors ul li a span {
  display: block;
  width: 23px;
  height: 23px;
}
.compare-products .colors ul li a:hover {
  border-color: #14181c;
}
.compare-products .buttons {
  margin-top: -10px;
  overflow: hidden;
}
.compare-products .buttons .quantity {
  overflow: hidden;
  margin-right: 5px;
}
.compare-products .buttons .quantity .form-control {
  height: 40px!important;
}
.compare-products .buttons .quantity .btn {
  margin-top: 10px;
  float: left;
  margin-right: 1px;
  background-color: #14181c;
  color: #7f7f7f;
  height: 40px;
}
.compare-products .buttons .quantity .btn:hover {
  color: #ffffff;
}
.compare-products .buttons .quantity .qty {
  margin-top: 10px;
  float: left;
  margin-right: 1px;
  width: 40px;
  height: 60px;
  background-color: #14181c;
  border-color: #14181c;
  color: #ffffff;
}
.compare-products .buttons .btn-cart {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  max-width: 100%;
  background-color: #14181c;
  border-color: #14181c;
  border-width: 3px;
  color: #ffffff;
  height: 50px;
}
.compare-products .buttons .btn-cart:hover {
  background-color: transparent;
  color: #14181c;
}
.compare-products .buttons .btn-wish-list,
.compare-products .buttons .btn-compare {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  height: 50px;
  border: solid 3px rgba(20, 24, 28, 0.1);
  background-color: transparent;
  color: #14181c;
}
.compare-products .buttons .btn-wish-list:hover,
.compare-products .buttons .btn-compare:hover {
  background-color: #14181c;
  color: #ffffff;
}
.form-extras {
  padding-bottom: 30px;
}
.form-extras .checkbox {
  margin-bottom: 15px;
}
.form-extras .checkbox label {
  display: block;
  line-height: 18px;
  padding-left: 15px;
  color: #7f7f7f;
}
@media (min-width: 992px) {
  .form-extras .left {
    position: relative;
  }
  .form-extras .left:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: -15px;
    top: 0;
    border-right: solid 1px #a5abb7;
  }
}
.reservation-now {
  padding-top: 30px;
  border-top: solid 1px #d3d3d3;
}
.reservation-now .checkbox label {
  line-height: 18px;
  color: #7f7f7f;
}
.reservation-now .btn + .btn {
  margin-right: 20px;
}