$footer-font-size: 12px;
/* 3.0 */
/* Footer
/* ========================================================================== */
.footer-light {
  color: #14181c;
  background-color: #f9fafb;
  .footer-body {
    background: #f9fafb;
    padding: 15px 0 15px 0;
  }
  .widget {
    color: $default-reverse-color;
    font-size: $footer-font-size;
    &.widget-contact {
      .logo {
        width: 220px;
        height: 100px;
        line-height: 100px;
        a {
          display: block;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .info {
        padding-top: 5px;
        address {
          font-size: $footer-font-size+1;
        }
        h4 {

        }
      }
    }
    &.widget-links {
      h4 {
        font-size: $footer-font-size+2;
        font-weight: bold;
        border-left: 1px dotted $default-theme-color;
        color: $default-theme-color;
        margin-bottom: 5px;
        padding-left: 5px;
        text-transform: uppercase;
      }
      ul {
        li {
          line-height: 2.5em;
          list-style: none;
          margin: 0;
          padding: 0;
          i {
            color: $default-theme-color;
            font-size: 10px;
            font-weight: normal;
            margin-right: 10px;
          }
          > a {
            color: $default-reverse-color;
            &:hover {
              color: $default-theme-color;
            }
          }
        }
      }
    }
    &.widget-opening-hours {
      @extend .widget-links;
    }
  }
}

/* 3.1 */
/* Footer widgets
/* ========================================================================== */
.footer-widgets {
  padding: 0 0 50px 0;
  margin-top: 0;
  background-color: transparent;
}
.footer-widgets .widget {
  margin-top: 50px;
}
.footer-widgets .widget-title {
  margin-top: 0;
  font-weight: 900;
  text-transform: uppercase;
  color: #14181c;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.footer-widgets .widget-title:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #a3a4a5;
}

.footer-meta {
  padding: 30px 0;
  background-color: #ffffff;
}
.footer-meta .copyright {
  text-align: center;
  color: #a1b1bc;
}