
/* Error page
/* ========================================================================== */
.error-page {
  padding-top: 40px;
}
.error-page h2 {
  margin: 0 0 30px 0;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #14181c;
}
.error-page h2 .fa {
  color: #ea0000;
}
.error-page h3 {
  margin: 0 0 15px 0;
  color: #ea0000;
  font-size: 160px;
  line-height: 160px;
  font-weight: bold;
}
.error-page .error-icon .fa {
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  border-radius: 50px;
  margin-bottom: 30px;
  background-color: #14181c;
  color: #ffffff;
}