
/* 5.14 */
/* Contact form
/* ========================================================================== */
.page-section.contact {
  background: url(../img/preview/page-section-contact-2.jpg) center top no-repeat;
  background-size: cover;
}
.page-section.contact:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.page-section.contact > .container {
  position: relative;
  z-index: 1;
}
.dark #contact-form .form-control {
  background: rgba(20, 24, 28, 0.8);
  border: 1px solid rgba(20, 24, 28, 0);
  color: #ffffff;
}
.dark #contact-form .form-control:focus {
  background: rgba(20, 24, 28, 0.5);
  border: 1px solid rgba(20, 24, 28, 0.5);
}
#contact-form textarea.form-control {
  height: 180px;
}
#contact-form .alert {
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 15px;
  border-color: $default-theme-color;
  background-color: $default-theme-color;
  color: #ffffff;
}
#contact-form .tooltip {
  left: 15px !important;
}
#contact-form .tooltip-inner {
  border-radius: 0;
  padding: 10px 20px;
  background-color: #000000;
}
#contact-form .tooltip-arrow {
  border-top-color: #000000;
}
#contact-form .form-control {
  height: 40px;
}
#contact-form .has-icon .form-control {
  padding-right: 40px;
}
#contact-form .form-control-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
#contact-form .form-button-submit {
  max-width: none;
}
/* Contact info
/* ========================================================================== */
.contact-info .media .fa {
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 20px;
  margin-right: 15px;
  text-align: center;
  background-color: #d3d3d3;
  color: #ffffff;
}
.contact-info .media-list {
  margin-bottom: 30px;
}
.contact-info .media-body {
  line-height: 22px;
}
.contact-list .media .fa {
  min-width: 18px;
  text-align: center;
}
.contact-list .media-left {
  margin-right: 15px;
}
.contact-list .media-right {
  margin-left: 15px;
}
/* 5.15 */
/* Google map
/* ========================================================================== */
.google-map,
.map-canvas,
#map-canvas {
  min-height: 700px;
  max-height: 700px;
}
@media (max-height: 600px) {
  .google-map,
  .map-canvas,
  #map-canvas {
    min-height: 390px;
    max-height: 390px;
  }
}
@media (max-height: 400px) {
  .google-map,
  .map-canvas,
  #map-canvas {
    min-height: 200px;
    max-height: 200px;
  }
}
.gm-style-iw {
  width: 280px !important;
  height: 380px !important;
  min-height: 380px !important;
}
.gmap-background .google-map,
.gmap-background #map-canvas {
  max-height: 100%;
  min-height: 100%;
}
.gmap-background .google-map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.gmap-background #map-canvas {
  width: 100%;
  height: 100%;
}
.gmap-background {
  margin-top: 0;
  margin-bottom: 0;
}
.gmap-background .on-gmap {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
  min-height: 200px;
  width: 350px;
}
@media (max-width: 767px) {
  .gmap-background .on-gmap {
    width: 290px;
  }
}
.form-search {
  text-align: left;
  background: rgba(20, 24, 28, 0.6);
}
.form-search .form-group {
  margin-bottom: 10px;
}
.form-search .form-control {
  height: 40px;
}
.form-search .has-icon .form-control {
  padding-right: 40px;
}
.form-search .form-control-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.form-search .btn-submit {
  background-color: $default-theme-color;
  border-color: $default-theme-color;
  color: #ffffff;
}
.form-search .btn-submit:hover {
  background-color: #14181c;
  border-color: #14181c;
}
.form-search .form-title {
  background: #14181c;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}
.form-search .form-title h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  color: #ffffff;
}
.form-search .form-title .fa {
  float: right;
  line-height: 18px;
}
.form-search .form-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 40px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #14181c;
}
.form-search .row,
.form-search .row div[class*="col-"] {
  margin-top: 0;
}
.form-search .row-inputs .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}
.form-search .row-inputs .container-fluid div[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}
.form-search .row-inputs + .row-inputs {
  padding-bottom: 10px;
}
.form-search .row-submit .container-fluid > .inner {
  padding: 20px;
  border-top: solid 1px rgba(255, 255, 255, 0.35);
  line-height: 50px;
}
.form-search .row-submit a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}
.form-search .row-submit a:hover {
  color: #ffffff;
}
.form-search.dark .bootstrap-select > .selectpicker {
  border: solid 1px transparent;
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-search.light {
  background: #ffffff;
}
.form-search.light .form-title h2 {
  max-width: 260px;
}
.form-search.light .form-title .fa {
  font-size: 36px;
  line-height: 36px;
}
.form-search.light .row-submit .container-fluid > .inner {
  border-top: solid 1px #d3d3d3;
  background-color: #e9e9e9;
}
.form-search.light .row-submit a {
  color: #7f7f7f;
}
.form-search.light .row-submit a:hover {
  color: $default-theme-color;
}
body.full-screen-map .wrapper {
  width: 630px;
}
body.full-screen-map .wrapper.closed {
  margin-left: -630px;
}
@media (max-width: 991px) {
  body.full-screen-map .wrapper.closed {
    margin-left: -320px;
  }
}
@media (max-width: 991px) {
  body.full-screen-map .wrapper {
    width: 320px;
  }
}
body.full-screen-map .google-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
}
body.full-screen-map .map-canvas,
body.full-screen-map #map-canvas {
  height: 100%;
  max-height: 100%;
}
body.full-screen-map .form-search {
  background-color: transparent;
}
body.full-screen-map .form-search .row-submit .inner {
  padding: 0;
  border-top: none !important;
  background-color: transparent !important;
}
.gm-style-iw {
  width: 350px !important;
  top: 20px !important;
  left: 0 !important;
}