/* 2.0 */
/* Header
/* ========================================================================== */
.sticky-wrapper {
  position: relative;
  z-index: 1;
}
.sticky-wrapper:not(.is-sticky) {
  height: auto !important;
}
.header {
  -webkit-box-shadow: 0 4px 14px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0 4px 14px 0 rgba(50, 50, 50, 0.3);
}
.wide .sticky-wrapper .header {
  width: 100% !important;
}
.sticky-wrapper .header {
  z-index: 20;
}
@media (max-width: 767px) {
  .sticky-wrapper .header {
    position: relative !important;
    height: auto !important;
  }
}
.header .header-wrapper {
  padding: 0;
  background-color: $header-bg-color;
  position: relative;
}
.header .header-wrapper > .container {
  position: relative;
  min-height: 40px;
}
.header .navigation-wrapper.navigation-sticky {
  width: 100%;
}
.full-screen-map .header-wrapper > .container {
  width: auto;
}
.full-screen-map .sticky-wrapper.is-sticky .header {
  width: 630px !important;
}
@media (max-width: 991px) {
  .full-screen-map .sticky-wrapper.is-sticky .header {
    width: 320px !important;
  }
}
.content-area.scroll {
  background-color: #fbfbfb;
  width: 630px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.closed .content-area.scroll {
  left: -630px;
}
@media (max-width: 991px) {
  .closed .content-area.scroll {
    left: -320px;
  }
}
@media (max-width: 991px) {
  .content-area.scroll {
    width: 320px;
  }
}
.content-area.scroll .swiper-slide {
  height: auto;
}
.content-area.scroll .open-close-area {
  position: absolute;
  right: -40px;
  top: 50%;
  width: 40px;
  height: 40px;
}
.content-area.scroll .open-close-area a {
  display: block;
  background-color: #14181c;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
}
.content-area.scroll .open-close-area a:hover {
  background-color: $default-theme-color;
}
.content-area.scroll .container {
  width: auto;
}

@import "header/logo";
@import "header/navigation";