/* 5.3 */
/* Message box
/* ========================================================================== */
.message-box {
  padding: 15px;
  position: relative;
  text-align: center;
  background-color: $default-theme-color;
  color: #ffffff;
}
.message-box h2 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}
.message-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.message-box .message-box-inner {
  border: solid 1px #ffffff;
  padding: 20px 15px;
  position: relative;
  z-index: 1;
}
.message-box.alt {
  padding: 12px;
  text-align: left;
  background-color: #a5abb7;
}
.message-box.alt .message-box-inner {
  padding: 10px 15px;
}
.message-box.alt h2 {
  font-size: 18px;
  font-weight: bold;
}
.message-box.alt .btn {
  font-size: 11px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: #14181c;
  margin-top: -6px;
  margin-left: 30px;
}
.message-box.alt .btn:hover {
  border-color: #14181c;
  background-color: #14181c;
  color: #ffffff;
}
.message-box.clear {
  padding: 0;
  background: none;
  color: #14181c;
}
.message-box.clear h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;
  color: #14181c;
}
.message-box.clear .message-box-inner {
  padding: 30px 0;
  border: solid 1px #d3d3d3;
  border-left: none;
  border-right: none;
}