/* 5.10 */
/* Comments
/* ========================================================================== */
.comments {
  margin-top: 30px;
  margin-bottom: 30px;
}
.comments .media + .media {
  margin-top: 20px;
}
.comment {
  border: solid 1px #e9e9e9;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.comment .comment {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.comment-avatar img {
  width: 70px;
}
.pull-left.comment-avatar {
  margin-right: 10px;
}
.pull-right.comment-avatar {
  margin-left: 10px;
}
@media (max-width: 479px) {
  .comment-avatar img {
    width: 24px;
    height: auto;
  }
}
.comment-meta {
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
}
.comment-meta:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 1px;
  background-color: #7f7f7f;
}
.comment-author {
  font-size: 15px;
  font-weight: 700;
  color: #14181c;
}
.comment-author a {
  color: #14181c;
}
.comment-author a:hover {
  color: $default-theme-color;
}
.comment-date {
  float: right;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #a5abb7;
}
.comment-date .fa {
  color: $default-theme-color;
  margin-left: 10px;
}
.comment-text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}
.comment-reply {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 0;
  background-color: #f9fafb;
  color: #a5abb7;
}
.comment-reply a {
  color: #a5abb7;
}
.comment-reply a:hover {
  color: #14181c;
}
.comment-reply .fa {
  color: #14181c;
  float: right;
}
.comments-form {
  padding: 20px 20px 0 20px;
  border: solid 1px #e9e9e9;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.comments-form > .block-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1;
}
.comments-form .form-group {
  margin-bottom: 20px;
}
.comments-form .form-control {
  height: 50px;
  color: #14181c;
  border-color: #f9fafb;
  background-color: #f9fafb;
}
.comments-form .form-control:focus {
  border-color: #14181c;
}
.comments-form textarea.form-control {
  height: 200px;
}
.comments-form ::-webkit-input-placeholder {
  color: #14181c !important;
}
.comments-form :-moz-placeholder {
  color: #14181c !important;
}
.comments-form ::-moz-placeholder {
  color: #14181c !important;
}
.comments-form :-ms-input-placeholder {
  color: #14181c !important;
}